<div class="list">
  <h2>{{ list.title }}</h2>

  <div class="todos">

  </div>

  <div class="lists-containers">
    <div class="actions text-center">
      <button class="btn btn-danger" {{ action "delete" }}>
        Eliminar Lista
      </button>
    </div>
  </div>
</div>
